h5{
    text-align: center;
    font-weight: bold;
    font-size: 1,5rem;
}



.row-radio{
    display: flex;
    justify-content: center;
    width: 100%;
}
.gato-div{
    margin-left: 5rem;
}

#gato, #perro{
    margin-left: 2rem;
}

